body{
    background-color: gray;
}
.container {
    background-color: white;
}
.row {
    margin-top: 15px;
}
 
.bal {
    padding: 15px;
    margin-right: 15px;
    

    
}

.kozepso {
    padding: 15px;
    margin-right: 15px;
    

    
}
 
.jobb {
    padding: 15px;
    


}